<web-app version="3.0">

   <module-name>hello-servlet</module-name>

    <servlet>
        <servlet-name>hello-servlet</servlet-name>
        <servlet-class>org.openrisknet.example.HelloServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
	
  <security-constraint>
	<web-resource-collection>
	    <web-resource-name>hello-servlet</web-resource-name>
	    <url-pattern>/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	    <role-name>standard-user</role-name>
	</auth-constraint>
  </security-constraint>
	
  <login-config>
	<auth-method>BASIC</auth-method>
	<realm-name>openrisknet</realm-name>
  </login-config>

  <security-role>
      <role-name>standard-user</role-name>
  </security-role>

</web-app>


